/* main-header */
.admin__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.admin__header {
    margin-bottom: 40px;
    text-align: center;
}

/* main-table */
.faq-table {
    margin: 0 auto;
    max-width: 1230px;
    width: 80%;
}

.faq-table__inner {
    width: 100%;
    border: solid 1px #595959;
    border-collapse: collapse;
    text-align: center;
}

.faq-table__row {
    border: solid 1px #595959;
}

.faq-table__header {
    background-color: #eee;
}
