.header {
    background: #000;
    max-width: 1230px;
    margin: 0 auto;
}

.header__inner {
    padding: 20px 15px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

/* footer */
.footer {
    background: #000;
    max-width: 1230px;
    margin: 0 auto;
}

.footer__inner {
    padding: 20px 15px;
    text-align: center;
}

.footer__inner ul {
    list-style: none;
    padding: 0;
}

.footer__nav--list {
    padding: 10px;
    margin: 0;
}