.header {
    background: #000;
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__inner {
    padding: 20px 15px;
}

.header__logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.header__nav {
    padding: 0 15px;
}

.header__nav--list a {
    text-decoration: none;
    color: #fff;
}