.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 100%;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background: #fafafa;
    color: #aaa;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__group-content {
    width: 100%;
}

.form__input--text {
    width: 100%;
}

.form__input--text input,
.form__input--textarea textarea {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__input--text input {
    height: 40px;
    width: 100%;
}

.form__input--textarea textarea {
    height: 180px;
    width: 100%;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

/* =========================
    768px以下（タブレット・SP）
   ========================= */
@media screen and (max-width: 768px) {

    .contact-form__content {
        padding: 20px 10px;
    }

    .form {
        width: 90%;
    }

    .form__group-title {
        margin-bottom: 8px;
    }

    .form__label--item {
        display: inline-block;
    }

    .form__label--required {
        display: inline-block;
        font-size: 12px;
        padding: 3px 5px;
    }

    .form__group-content {
        width: 100%;
    }


    .form__input--textarea textarea {
        width: 100%;
        height: 140px;
    }

    .form__button-submit {
        width: 100%;
        height: 45px;
        font-size: 14px;
    }
}


/* =========================
    480px以下（スマートフォン）
   ========================= */
@media screen and (max-width: 480px) {

    .form {
            width: 100%;
        }
}